        <!-- Header -->
        <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
            data-header-fix-moment="100">

            <div class="u-header__section u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 g-py-20"
                data-header-fix-moment-exclude="g-bg-black-opacity-0_3 g-py-20"
                data-header-fix-moment-classes="g-bg-black-opacity-0_8 g-py-10">

                <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                    <div class="container">

                        <!-- Responsive Toggle Button -->
                        <button
                            class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0"
                            type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                            data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="/Template2/Main1.html" class="navbar-brand d-flex">
                            <img src="/images/k-book-logo.png" />
                        </a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg"
                            id="navBar">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-200 ml-auto">

                                <!-- Trend -->
                                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                                    data-animation-out="fadeOut">
                                    <a id="nav-link--trend" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true"
                                        aria-expanded="false" aria-controls="nav-submenu--trend">Trend</a>
                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling u-header__section--dark g-bg-black-opacity-0_1 g-transition-0_1"
                                        id="nav-submenu--trend" aria-labelledby="nav-link--trend">
                                        <li class="dropdown-item u-header__section--dark g-bg-black-opacity-0_6 g-transition-0_6 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Topic</a>
                                        </li>
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_6 g-transition-0_6 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Special Project</a>
                                        </li>
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_6 g-transition-0_6 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Export Case</a>
                                        </li>
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_6 g-transition-0_6 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Book Trip</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- End Trend -->
                                <!-- Interview -->
                                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                                    data-animation-out="fadeOut">
                                    <a id="nav-link--interview" class="nav-link g-py-7 g-px-0" href="#"
                                        aria-haspopup="true" aria-expanded="false"
                                        aria-controls="nav-submenu--interview">Interview</a>
                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling u-header__section--dark g-bg-black-opacity-0_1 g-transition-0_1"
                                        id="nav-submenu--interview" aria-labelledby="nav-link--interview">
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Korean Publishers</a>
                                        </li>

                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Korean Authors</a>
                                        </li>

                                    </ul>
                                </li>
                                <!-- End Interview -->
                                <!-- Knowledge -->
                                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                                    data-animation-out="fadeOut">
                                    <a id="nav-link--knowledge" class="nav-link g-py-7 g-px-0" href="#"
                                        aria-haspopup="true" aria-expanded="false"
                                        aria-controls="nav-submenu--trend">Knowledge</a>
                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling u-header__section--dark g-bg-black-opacity-0_1 g-transition-0_1"
                                        id="nav-submenu--knowledge" aria-labelledby="nav-link--knowledge">
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Publishing Industry</a>
                                        </li>
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Publishing Policy</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- End Knowledge -->
                                <!-- Information -->
                                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                                    data-animation-out="fadeOut">
                                    <a id="nav-link--information" class="nav-link g-py-7 g-px-0" href="#"
                                        aria-haspopup="true" aria-expanded="false"
                                        aria-controls="nav-submenu--trend">Information</a>
                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling u-header__section--dark g-bg-black-opacity-0_1 g-transition-0_1"
                                        id="nav-submenu--information" aria-labelledby="nav-link--information">
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">New Books</a>
                                        </li>
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Best Sellers</a>
                                        </li>
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Book Summary</a>
                                        </li>
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Info</a>
                                        </li>
                                        <li class="dropdown-item  u-header__section--dark g-bg-black-opacity-0_3 g-transition-0_3 "
                                            style="font-size:14px;">
                                            <a class="nav-link" href="/template2/detail1.html">Agency List</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- End Information -->
                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="/template2/detail1.html" class="nav-link g-py-7 g-px-0">About us</a>
                                </li>
                                <!-- End Intro -->


                            </ul>
                        </div>
                        <!-- End Navigation -->



                    </div>
                </nav>
            </div>

        </header>
        <!-- End Header -->